@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    /* border: 1px solid black; */
}
body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    margin: 0;
    justify-content: space-between;
}
.info, .cta-container, .quote-container{
    flex: 1;
}
body, .header, .menu-bar, ul, .cta-container, .hero-container, .info, .footer, .quote-container {
    display: flex;
}
.header {
    min-width: fit-content;
}
.hero-container {
    justify-content: space-around;
}
body, .header{
    flex-direction: column;
}
.header, .footer {
    background-color: #1F2937;
}
.menu-bar {
    justify-content: space-around;
}
.hero-title, .logo {
    color: #F9FAF9;
    font-weight: 900;
}
.hero-title {
    font-size: 48px;
}
.hero-img {
    width: 350px;
    height: 150px;
}
.logo {
    font-size: 24px;
}
.hero-subtext, a, .signup, .footer {
    color: #E5E7EB;
    font-size: 18px;
}
.hero-subtext, a {
    font-weight: 300;
}
.signup, .call-to-action {
    background-color: #3882F6;
}
button {
    padding: 4px 8px;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 16px;
}
a {
    text-decoration: none;
}
.info {
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.img-text {
    text-align: center;
    width: 100px;
}
.img-text img {
    border: 1px solid #3882F6;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}
.info-title {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
}
.quote-container {
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight:lighter;
    width: 800px;
    height: 200px;
}
.quote-author {
    display: block;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}
.footer {
    height: 52px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
/* .cta-container {
    justify-content: center;
    align-items: center;
} */
